/*Footer CSS*/
.linkElement:hover .buttonLabel{
    letter-spacing: 0.2em;
    color: red;
}

.buttonLabel{
    color: white;
    letter-spacing: 0.3em;
}

.arrow-icon{
    fill: #FFFEFE;
    width: 40px;
    height: 40px;
}
.linkElement:hover .arrow-icon{
    transform: scaleX(1.2);
    fill: red;
}

.arrow-svg{
    display: flex;
    height: inherit;
    width: inherit;
}

.email{
    color: inherit;
    text-decoration: none;
    display: inherit;
}


.location{
    position: relative;
    margin: 0px 0px 20px 9px;
    text-align: left;
}

.location h1{
    font: var(--font-0);
    color: rgb(var(--color_0));
}

.general-span{
    font-size: 22px;
    display: inherit;
}

.location .red-text{
    font-family: 'Oswald Variable', sans-serif;
    letter-spacing: 0.05em;
    color: red;
}


.white-text{
    display: inherit;
    font-family: 'Oswald Variable', sans-serif;
    letter-spacing: 0.05em;
    font-weight: 200;
}

.links-row ul li{
    display: inline-block;
    margin: 0px 10px 0px 0px;
}

.tag{
    font-family: 'Oswald Variable', sans-serif;
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 12px;
    display: inherit;
}

.techidlink:hover .techid-label{
    letter-spacing: 0.02em;
}

.techidlink:hover .techid-arrow{
    transform: scaleX(1.15);
}

